.dropdown {
  min-width: 20rem;
  padding: 0.5rem 0;
  position: absolute !important;
  right: 0.75rem;
  top: 4rem;

  .dropdown-list {
    width: 100%;
    padding: 0 !important;
  }

  .dropdown-header {
    padding: 0 1rem;
    text-align: center;
  }

  .dropdown-item {
    font-size: 1rem;
    font-weight: $weight-semibold;
    padding: 0 1rem;
    text-align: left;

    a {
      color: $black;
      display: block;
      padding: 0.5rem 1rem;
      width: 100%;
      padding: 0 !important;
      margin-top: 10px;
    }

    a:hover {
      background-color: #10090a33;
      color: $white;
      cursor: pointer;
    }
  }

  .dropdown-separator {
    margin: 0.5rem 0;
    display: none;
  }
}

.dropdown-caret {
  border: 4px solid $white;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-left: 0.25rem;
}
